/* Autor: Paweł Obraniak
 * 
 * 
 * 
 */
body {
background-color: black;
}

#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.app_header_image {

}

.app_header_title {

}

.app_header_name {

}

.app_header {

}

.app_footer {

}

.app_content {

}
