@charset "utf-8";
/* Autor: Paweł Obraniak
 * 
 */
body {
    background-color: #666;
    font-family:      Arial, sans-serif;
    font-size:        14px;
    margin:           0px;
}

#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
	position:relative;
}

#header {
    height: 150px;
    background-color:#E7E9E5;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
}

#slogan {
	padding-top:40px;
	padding-left:160px;

}
#header h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	margin: 5px 0px;
	font-smooth: always;
}
#header h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin: 5px 0px;
	font-smooth: always;
}
h2 {
	font-size:14;
	color:#900;
}

.app_footer {
    padding: 5px 20px;
    background-color: #9c301a;
    color:#fff;
}

.app_content {
	padding: 10px 10px 10px 20px;
}

.app_content table {
	border-collapse:collapse;
	border:1px solid #999;
	margin-top:20px;
}

#logininfo {
	text-align:right;
	margin-right:10px;
	position:relative;
	height:30px;
	padding-bottom:15px;
	border-bottom:1px dashed #ccc;
}

#logininfo p, #logininfo input {
	float:right;
	margin-left:10px;
}

#logininfo p {
	font-weight:bold;
}
#loginform {
    width: 300px;
    margin: 20px auto;


}
#loginform table {
	border:none;

}
#loginform table td {
	border:none;
	padding:5px;

}

#loginform table td.btn {
	text-align:center;

}

table.kursy td, table.kursy th{
	padding: 10px 5px;
}
table.kursy th {
	text-align:left;
	font-weight:bold;
	background-color:#666;
	color:#fff;

}
table.kursy a {
	width:70px;
	text-align:center;
}

table.kursy input[type=submit] {
	width:100px;	
}

table.bottomnav {
	margin-left:auto;
	margin-right:auto;
}
#bottombtn {
	text-align:right;
	margin-right:20px;
}

#answers table {
	border:none;
}
.questions {
	padding: 10px 0px 0px 20px;	
}
.questions p {
	font-weight:bold;
	font-size:14px;
}
/*---------------------------------BUTTONS--------------------------------------*/

   
.btngreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}

.btngreen:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
.btngreen:active {
	position:relative;
	top:1px;
}


.button, .btnBackToHome {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8c0900), color-stop(1, #e4685d) );
	background:-moz-linear-gradient( center top, #8c0900 5%, #e4685d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c0900', endColorstr='#e4685d');
	background-color:#8c0900;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #851005;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}

.button:hover, .btnBackToHome:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #8c0900) );
	background:-moz-linear-gradient( center top, #e4685d 5%, #8c0900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#8c0900');
	background-color:#e4685d;
}

.button:active, .btnBackToHome:active {
	position:relative;
	top:1px;
}

.btnblue {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}.btnblue:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.btnblue:active {
	position:relative;
	top:1px;
}

.btngrey {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #CCC) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #CCC 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 13px;
	text-decoration:none;
}.btngrey:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ccc 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}.btngrey:active {
	position:relative;
	top:1px;
}




