@charset "utf-8";
/* Autor: Paweł Obraniak
 * 
 */
body {
    background-color: #666;
    font-family:      Arial, sans-serif;
    font-size:        14px;
    margin:           0px;
}

#wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#header {
    height: 150px;
    background-color:#E7E9E5;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
}

#header h1 {
    text-indent: -9999px;
}
.app_header_image {

}

.app_header_title {

}

.app_header_name {

}

.app_footer {
    padding: 5px 20px;
    background-color: #9c301a;
    color:#fff;
}

.app_content {
	padding: 20px 10px;
}

.app_content table {
	border-collapse:collapse;
	border:1px solid #999;
	margin-top:20px;
}

#loginform {
    width: 300px;
    margin: 20px auto;


}
#loginform table {
	border:none;

}
#loginform table td {
	border:none;
	padding:5px;

}

#loginform table td.btn {
	text-align:center;

}

table.kursy td{
	padding: 10px 5px;
}
.button, .btnakcja, .btnBackToHome {
   border-top: 1px solid #611506;
   background: #bf5945;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c2f1a), to(#bf5945));
   background: -webkit-linear-gradient(top, #9c2f1a, #bf5945);
   background: -moz-linear-gradient(top, #9c2f1a, #bf5945);
   background: -ms-linear-gradient(top, #9c2f1a, #bf5945);
   background: -o-linear-gradient(top, #9c2f1a, #bf5945);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover, .btnakcja:hover  {
   border-top-color: #d18677;
   background: #d18677;
   color: #ffffff;
   }
.button:active, .btnakcja:active  {
   border-top-color: #ffffff;
   background: #d18677;
   }